@model Cinema.Web.Models.GenreViewModel

@{
    var operation = Model.Id > 0 ? "Edit" : "Create";
    ViewBag.Title = operation + " genre";
}

<div class="page-header">
    <h1>@operation genre</h1>
</div>

@using (Html.BeginForm("CreateEdit", "Genre", FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()

    @Html.Partial("FormValidation")

    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        @Html.LabelFor(x => x.Name, new {@class = "control-label col-sm-2"})
        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Description, new {@class = "control-label col-sm-2"})
        @Html.TextAreaFor(x => x.Description, new {@class = "form-control", rows=10})
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-success" type="submit" value="@operation genre" />
        </div>
    </div>
}
<hr />
<div>
    @Html.ActionLink("< Back to genre list", "Index")
</div>

