@using Cinema.Web.Helpers
@model Cinema.Web.Models.SeanceViewModel

@{
    ViewBag.Title = "Book tickets";
}

<br />
<div class="jumbotron">
    <h2>Book tickets on movie: @Model.MovieName</h2>
    <hr/>
    <div class="row">
        <div class="col-sm-4">
            <h3>
                <strong>Seance information: </strong>
            </h3>
        </div>
        <div class="col-sm-8">
            <br/>
            <div class="col-sm-6">
                @Html.LabelFor(x => x.Date)
                @Model.Date.ToShortDateString()
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(x => x.Time)
                @Model.Time.ToString()
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(x => x.HallName)
                @Model.HallName
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(x => x.Price)
                @Model.Price
            </div>
        </div>
    </div>
</div>
@if (Model.HallPlan != null)
{
    <div class="row">
        <div class="col-sm-12">
            <h3>Hall plan: </h3>
            <hr/>
            <div class="hall">
                @for (var i = Model.HallPlan.Count; i > 0; i--)
                {
                    <div class="hall-row">
                        @for (var j = 1; j <= Model.HallPlan[i].Count; j++)
                        {
                            switch (Model.HallPlan[i][j])
                            {
                                case (int) SeatType.Single:
                                    <button type="button" class="btn btn-primary seat">@j</button>
                                    break;
                                case (int) SeatType.Double:
                                    <button type="button" class="btn btn-info seat">@j</button>
                                    break;
                                case (int) SeatType._4D:
                                    <button type="button" class="btn btn-danger seat">@j</button>
                                    break;
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}
